.light-gray-panel {
	background-color: #d3d3d3;
}

.light-cyan-panel {
	background-color: #cafdff;
}

.light-green-panel {
	background-color: #98e295;
}

.light-yellow-panel {
	background-color: #f9fdc6;
}

.light-red-panel {
	background-color: #f8b6b6;
}